<link rel="stylesheet" href="/css/htmlSamplePage.css" type="text/css" />
<script src="~/js//site.js" type="text/javascript"></script>

@model HTMLPreviewerApp.Models.HTMLSample.HtmlSampleHomeViewModel

@{
    ViewData["Title"] = "Home Page";
    var htmlSamples = Model?.HtmlSamples?.OrderByDescending(x => x.CreatedOn).ToList();

    var currentHtmlSampleIndex = Model.Id != null
        ? $"{htmlSamples.Count - htmlSamples.FindIndex(x => x.RawHtml == Model.OriginalRawhtml)}."
        : string.Empty;
}

@{
    var modelState = ViewContext.ViewData.ModelState;
    var errors = modelState.Select(x => x.Value).Select(x => x.Errors).ToArray();
    var hasErrorHere = false;
    if (errors.Length > 0)
    {
        hasErrorHere = errors[0]
                        .Select(x => x.ErrorMessage)
                        .FirstOrDefault(x => x.Contains("Полето")) != null;
    }
}

<article class="main-wrapper">
    <article class="left">
        <section class="input-wrapper">
           
            <span class="number">@(!hasErrorHere ? $"{currentHtmlSampleIndex}" : string.Empty)</span>

            @using (Html.BeginForm("SwitchAction", "HtmlSample", FormMethod.Post))
            {
                <div class="error-message" asp-validation-summary="ModelOnly"></div>
                <textarea asp-for="TempRawHtml" rows="10" cols="70">@Model.TempRawHtml</textarea>
                <span class="error-message" asp-validation-for="@Model.TempRawHtml"></span>
                <input type="hidden" id="hidden-id" asp-for="@Model.Id" />
                <section class="button-wrapper">
                    <input class="submit-button" type="submit" name="submitButton" value="Run" />
                    <input class="submit-button" type="submit" name="submitButton" value="Save" />
                    <input class="submit-button" type="submit" name="submitButton" value="Check original" />
                </section>
            }
        </section>
        <section class="samples-list-wrapper">
            <span class="samples-list-title">Html Samples:</span>

            @{
                for (int i = 0; i <= htmlSamples?.Count - 1; i++)
                {
                    var id = htmlSamples[i].Id;
                    <section class="sample-wrapper">
                        <section class="first-row">
                            <span>@(htmlSamples.Count - i).</span>
                            @using (Html.BeginForm("Open", "HtmlSample", FormMethod.Post))
                            {
                                <input type="hidden" asp-for="@id" id="hidden-@id-@i" value="@id" />
                                <input type="submit" style="background-color: darkgrey" value="Open" />
                            }
                            <span>Created on: @htmlSamples[i].CreatedOn</span>
                            <span>Last edited on: @htmlSamples[i].LastEditedOn</span>
                        </section>
                        <section class="second-row">
                            <input type="text" value="@htmlSamples[i].Url" id="@htmlSamples[i].Id" />
                            <button onclick=copyUrl("@htmlSamples[i].Id")>Copy shareable Url</button>
                        </section>
                    </section>
                }
            }
        </section>
    </article>
    <article class="right">
        <section class="preview">
            @if (this.TempData["submitButton"] as string == "Run")
            {
                <fragment class="preview-content">@Html.Raw(Model.TempRawHtml?.ToString())</fragment>
            }
        </section>
    </article>
</article>

@{
    if (this.TempData["submitButton"] as string == "Check original")
    {
        var value = Model.IsEqualWithOriginal == true ? "NOT original" : "original";
        <script>checkOriginal(`@(value)`)</script>
    }

    if (this.TempData["submitButton"] as string == "Save")
    {
        var submitButtonValue = this.TempData["save-action-type"];
        <script>showSaveNotification(@currentHtmlSampleIndex, '@submitButtonValue');</script>
    }
}
